@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Space+Grotesk:wght@300..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(#18181836 1px, transparent 1px),
      linear-gradient(to right, #18181836 1px, #0000 1px);
    background-size: 20px 20px;
  }
}

